<!DOCTYPE html>
<html lang="en" class="no-js">
<% include header %>
<body>
    <% include titlebar %>
    <% include coloredbar %>
        <% if(user) { %>
    <div class="container-block" style="width:100%;text-align: center;margin-top:40px">
     <div class="profile-block">
          <img src="<%= avatar %>" class="profile-img">
          <div class="profile-text">
            <h1 class="profile-name"><%= user.username %></h1>
            <%= user.hnhandle %><br><br>
            
            <% if(user.status_email) { %>
            
            <a href="#" id="mail-success" class="action">
                <span><b>Email is active</b></span>  
            </a>
                
            <% } else { %>
                
            <a href="#" id="mail-success" class="action" disabled="disabled">
                <i class="act-indicator i-M-loader p12"></i>
                <i class="act-indicator i-accept p13"></i>
                <i class="act-indicator i-ignore p14"></i>
                <span><b class="emailagain">Send Email Activation Again</b></span>
            </a>
                
            <% } %>
              
           <% if(user.status_hn) { %>
              
           <a href="#" id="mail-success" class="action" disabled="disabled">
                <span><b>HN is active</b></span>  
            </a>
                
            <% } else { %>

            <a href="#" id="hn-success" class="action">
                <i class="act-indicator i-M-loader p15"></i>
                <i class="act-indicator i-accept p16"></i>
                <i class="act-indicator i-ignore p17"></i>
                <span><b class="hnagain">Activate HN handle <%= user.hnhandle %> **</b></span>
            </a><br><br>
              
            <span class="token"><b>**To activate HN Account put "<%= user.hn_token %>" as "about" in profile page and press activate</b></span><br><br>
            <a href="https://news.ycombinator.com/user?id=<%= user.hnhandle %>" target="_blank" class="hackerlink">Change on Hacker News</a>
              
            <% } %>

          </div>
     </div>
        <% } else { %>
        you should not be here 
        <% } %>

<div class="container-friends">

<form style="margin-bottom:20px;">
	<input type="search" placeholder="Add Email of Friend" class="email_submit">
</form>
  <ul class="tags">
      <% user.friendslist.forEach(function(el, index) { %>
            <li><a href="#"><%= el %> <span>X</span></a></li>
      <% }); %>
  </ul>
</div>
        
    </div>
    
    <% include jquery %>

    <script type="application/javascript">
    $('.email_submit').keypress(function (e) {
    if (e.which == 13) {
            if(validateEmail($('.email_submit').val())){
                  $.ajax({
                        type: "get",
                        cache: false,
                        url: "/addbuddy?buddymail="+$('.email_submit').val(),
                        dataType: "text",
                        error: function(request,error) 
                        {
                            systemMessage.sendMessage(2,"Error in adding Email");
                        },
                        success: function (a,b,c)
                        {
                         if (a == '1'){
                             $("ul.tags").append('<li><a href="#">'+$('.email_submit').val()+'<span>X</span></a></li>');
                             $('.email_submit').val('');
                         }
                        else{
                            systemMessage.sendMessage(2,"Error in adding Email");
                        }
                        }
                               });
            
            }
            else{
                systemMessage.sendMessage(2,'Email address not in proper format');
            }
            return false;
            }
        });
    function validateEmail(email) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    }
    $(document).ready(function(){
      systemMessageInit(); //initialize 
    });
        
    var mail = document.getElementById("mail-success")
,		addClass = function (el, cl) { el.className += ' ' + cl }
,		removeClass = function (el, cl) { var regex = new RegExp('(?:\\s|^)' + cl + '(?:\\s|$)'); el.className = el.className.replace(regex, ' ') }
		
mail.addEventListener("click",function(){
	removeClass(mail,"act-success")  
	addClass(mail,"act-loading")
      
  //emulating delay after ajax request (2 seconds)
  setTimeout(function(){ 
		addClass(mail,"act-success")
    removeClass(mail,"act-loading")
	}, 2000)

})

    var hn = document.getElementById("hn-success")
,		addClass = function (el, cl) { el.className += ' ' + cl }
,		removeClass = function (el, cl) { var regex = new RegExp('(?:\\s|^)' + cl + '(?:\\s|$)'); el.className = el.className.replace(regex, ' ') }


hn.addEventListener("click",function(){
	removeClass(hn,"act-success");
	addClass(hn,"act-loading");
    
                            $.ajax({
                        type: "get",
                        cache: false,
                        url: "/activatehn" ,
                        dataType: "text",
                        error: function(request,error) 
                        {
                            addClass(hn,"act-success");
                            removeClass(hn,"act-loading");
                            systemMessage.sendMessage(2,"Activation failed");
                        },
                        success: function (a,b,c)
                        {
                         if (a == '1'){
                             addClass(hn,"act-success");
                             removeClass(hn,"act-loading");
                             $(".hackerlink , .token , .p15 , .p16 , .p17").remove();
                             $(".hnagain").text("Successfully Verified");
                             hn.unbind();
                             systemMessage.sendMessage(0,"Successfully Activated");
                         }
                        else{
                            addClass(hn,"act-success");
                            removeClass(hn,"act-loading");
                            systemMessage.sendMessage(2,"Activation failed");
                        }
                        }
                               });

})
        
    </script>
    
</body>

</html>