<div id="top-line-wrap">
        <div id="top-line">
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(107, 165, 189); height: 10px;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(196, 160, 108); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(255, 208, 140); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(193, 80, 9); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(107, 165, 189); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(196, 160, 108); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(255, 208, 140); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(193, 80, 9); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(107, 165, 189); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(196, 160, 108); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(255, 208, 140); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(193, 80, 9); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(107, 165, 189); height: 10px;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(196, 160, 108); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(255, 208, 140); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(193, 80, 9); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(107, 165, 189); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(196, 160, 108); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(255, 208, 140); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(193, 80, 9); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(107, 165, 189); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(196, 160, 108); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(255, 208, 140); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(193, 80, 9); height: 10px; overflow: hidden; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background-color: rgb(71, 78, 81); overflow: hidden; height: 10px; background-position: initial initial; background-repeat: initial initial;"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#6ba5bd"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#c4a06c"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#ffd08c"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#c15009"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#474e51"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#6ba5bd"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#c4a06c"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#ffd08c"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#c15009"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#474e51"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#6ba5bd"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#c4a06c"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#ffd08c"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#c15009"></span>
            </div>
            <div class="chunk">&nbsp;
                <span class="filler" style="background:#474e51"></span>
            </div>
        </div>
    </div>