<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Promote post using your network on hacker news." />
    <meta name="keywords" content="Hacker news promote your article" />
    <meta name="author" content="<%= author %>" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/modernizr.custom.26633.js"></script>
    <script type="text/javascript" src="/js/notification.js"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="/css/fallback.css" />
    </noscript>
    <!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/fallback.css" />
		<![endif]-->
</head>