<!DOCTYPE html>
<html lang="en" class="no-js">
<% include header %>
<body>
    <% include titlebar %>
    <% include coloredbar %>
    <div class="container">
        <header class="codrops-header">
            <p class="codrops-info">
                <strong>Build network of friends who will get notified when you post something on hacker news .</strong>
            </p>
        </header>
        <section class="main">
            <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow">
                <img class="ri-loading-image" src="/images/loading.gif" />
                <ul>
                    <li>
                        <a href="#">
                            <img src="/images/medium/1.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/2.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/3.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/4.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/5.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/6.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/7.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/8.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/9.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/10.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/11.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/12.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/13.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/14.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/15.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/16.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/17.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/18.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/19.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/20.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/21.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/22.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/23.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/24.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/25.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/26.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/27.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/28.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/29.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/30.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/31.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/32.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/33.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/34.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/35.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/36.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/37.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/38.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/39.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/40.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/41.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/42.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/43.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/44.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/45.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/46.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/47.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/48.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/49.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/50.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/51.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/52.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/53.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/medium/54.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    
    <% include jquery %>
    <script type="text/javascript" src="/js/jquery.gridrotator.js"></script>
    <script type="text/javascript">
        $(function() {
        			
        				$( '#ri-grid' ).gridrotator( {
        					w320 : {
        						rows : 3,
        						columns : 4
        					},
        					w240 : {
        						rows : 3,
        						columns : 3
        					}
        				} );
        			
        			});
    </script>
    <script type="application/javascript">
        $(document).ready(function () {
        systemMessageInit(); //initialize 
        $('#login-trigger').click(function () {
            $('#signup-content').slideUp();
            $('#signup-trigger').find('span').html('▼');
            $('#signup-trigger').removeClass('active');
            $('#login-content').slideToggle();
            $('#login-trigger').toggleClass('active');
            if ($('#login-trigger').hasClass('active')){              
                    $('#login-trigger').find('span').html('&#x25b2;');
            }else{
               $('#login-trigger').find('span').html('▼'); 
            }
        })
        
        $('#signup-trigger').click(function () {
            $('#login-content').slideUp();
            $('#login-trigger').find('span').html('▼');
            $('#login-trigger').removeClass('active');
            $('#signup-content').slideToggle();
            $('#signup-trigger').toggleClass('active');
             if ($('#signup-trigger').hasClass('active')){              
                    $('#signup-trigger').find('span').html('&#x25b2;');
            }else{
               $('#signup-trigger').find('span').html('▼'); 
            }
            
            
        });
            
        $('#username,#password').keypress(function (e) {
            if (e.which == 13) {
                if(validateEmail($('#username').val())){
                    if( $('#password').val() == '' ){
                        systemMessage.sendMessage(2,"Password Field Empty");
                    }
                    else{
                        $.ajax({
                        type: "post",
                        data: { username : $('#username').val(),password : $('#password').val() },
                        cache: false,
                        url: "/login" ,
                        dataType: "text",
                        error: function(request,error) 
                        {
                         systemMessage.sendMessage(2,"Login Failed");
                        },
                        success: function (a,b,c)
                        {
                         if (a == '0'){
                            systemMessage.sendMessage(2,"Error in username password");
                         }
                        else{
                            systemMessage.sendMessage(0,"Success");
                            document.location.href = '/account';
                        }
                        }
                               });
                    }
                }
                else{
                    systemMessage.sendMessage(2,'Email not valid');
                }
                $('#username').val('');
                $('#password').val('');
                return false;
            }
        });
            
            
            
       $('#sign-username,#sign-password,#sign-hnhandle').keypress(function (e) {
            if (e.which == 13) {
                if(validateEmail($('#sign-username').val())){
                    if( $('#sign-password').val() == '' || $('#sign-hnhandle').val() == '' ){
                        systemMessage.sendMessage(2,"Please Fill all fields");
                    }
                    else{
                        $.ajax({
                        type: "post",
                        data: { username : $('#sign-username').val(),password : $('#sign-password').val() , hnhandle : $('#sign-hnhandle').val() },
                        cache: false,
                        url: "/register" ,
                        dataType: "text",
                        error: function(request,error) 
                        {
                         systemMessage.sendMessage(2,"Registration failed");
                        },
                        success: function (a,b,c)
                        {
                         if (a == '1'){
                            systemMessage.sendMessage(0,"Successfully Registered , Please Check Email");
                         }
                        else{
                            systemMessage.sendMessage(1,a);
                        }
                        }
                               });
                    }
                }
                else{
                    systemMessage.sendMessage(2,'Email not valid');
                }
                $('#username').val('');
                $('#password').val('');
                return false;
            }
        });
            
    function validateEmail(email) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    } 
            
            
        <% if(mess) { %>
            systemMessage.sendMessage(1,"<%= mess %>"); 
        <% } %>
    });
    
    </script>
</body>

</html>