<div class="header-menu">
    <a class="site-title" href="#">
        <%= title %>
    </a>
    <nav class="loginup">
        <% if(user) { %>
        <ul>
            <a id="login-trigger" href="/account">Profile</a>
            <a id="login-trigger" href="/logout">Logout</a>
        </ul>
        <% } else { %>
        <ul>
        <li id="login">
            <a id="login-trigger" href="#">Log in<span>▼</span>
            </a>
            <div id="login-content">
                <form action="/login" method="post">
                    <fieldset id="inputs" style="border-width:0px">
                        <input id="username" type="email" required="" placeholder="Your email address" name="username" />
                        <input id="password" type="password" required="" placeholder="Password" name="password" />
                    </fieldset>
                </form>
            </div>
        </li>
        <li id="signup">
            <a id="signup-trigger" href="#">Sign up<span>▼</span>
            </a>
            <div id="signup-content">
                <form action="/register"  method="post">
                    <fieldset id="sign-inputs" style="border-width:0px">
                        <input id="sign-username" type="email" required="" placeholder="Your email address (Will be confirmed)" name="username" />
                        <input id="sign-password" type="password" required="" placeholder="Password" name="password" />
                        <input id="sign-hnhandle" required="" placeholder="Your HN Handle (Will be confirmed)" name="hnhandle" />
                    </fieldset>
                </form>
            </div>
        </li>
    </ul>
        <% } %>
    </nav>
</div>