@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* General Demo Style */
body {
	font-family: 'Lato', 'Myriad Pro','Trebuchet MS', sans-serif;
	background: #f9f9f9 url(../images/bg.jpg) repeat top left;
	font-weight: 300;
	font-size: 14px;
	color: #333;
	overflow: scroll;
	overflow-x: hidden; 
}

a {
	color: #555;
	text-decoration: none;
}

a img {
	border: none;
}

.container {
	position: relative;
	background: transparent url(../images/light.png) fixed no-repeat center top;
}

#top-line-wrap {overflow:hidden; width:100%; position:absolute; height:40px; z-index:3;margin:0px;}
#top-line { position:absolute; width:2700px;}
#top-line .chunk {  width:90px; height:40px; display:block; float:left; position:relative;}
#top-line .filler {height:5px; position:absolute; width:100%; left:0; top:0;}

.header-menu{
  background: #333;
  padding: 10px;
  height: 2.7em;
  z-index: 4;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
}

.header-menu nav{
    float:right;
    margin-top:-3px;
}

.header-menu a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-menu a:hover,
.header-menu a:focus{
  color: white;
}

.codrops-header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
    text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}

.codrops-header h1,
.codrops-header-special h1{
	font-size: 26px;
	line-height: 26px;
	margin: 0;
	position: relative;
	font-weight: 700;
	color: #000;
}

.codrops-header h2,
.codrops-header-special h2{
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	margin: 0;
	padding: 3px 5px;
	margin: 10px 0 5px;
	color: #000;
	display: inline-block;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.3);
}

.codrops-top span.right {
	float: right;
}
.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-info {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
	line-height: 22px;
    font-weight:200;
    font-size: 1.5em;
}

/* Demo Buttons Style */
.codrops-demos{
    text-align: center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 10px;
	font-weight: bold;
	color: #333;
	line-height: 20px;	
	font-size: 12px;
	background: #fff;
	background: rgba(255,255,255,0.4);
	padding: 0 4px;
}
.codrops-demos a:hover{
	border-bottom: 2px solid #f7bb6d;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	border-bottom: 2px solid #f7bb6d;
	color: #777;
}

.codrops-header-special{
	position: absolute;
	top: 80px;
	left: 0px;
	text-align: left;
}

.codrops-header-special h2{
	padding: 5px 20px 5px 10px;
	color: #fff;
	line-height: 26px;
	background: #000;
	background: rgba(0,0,0,0.8);
}

.codrops-header-special h1{
	background: #000;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	font-size: 32px;
	line-height: 32px;
	padding: 20px;
	color: #fff;
	text-shadow: 0 0 1px #fff;
}

.codrops-header-special .codrops-demos{
	text-align: left;
}

.codrops-header-special .codrops-demos a{
	background: rgba(255,255,255,1);
}

.codrops-header-special .codrops-info{
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding: 5px 20px 5px 10px;
	line-height: 26px;
	margin-top: 30px;
	text-align: left;
}


nav ul { 
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 50px;   
}

nav li {
  float: left;          
}

nav #login {
  border-right: 1px solid #ddd;
  -moz-box-shadow: 1px 0 0 #fff;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff;  
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff; 
}

nav #signup a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 270px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 233px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {		
  background-color: #d14545;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {		
  background-color: #e97171;
}	

#login #submit:active {		
  outline: none;	
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}



/*SIGNUP*/

nav #signup-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}
nav li #signup-content {
  right: 0;
  width: 270px;  
}

/*--------------------*/

#sign-inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 233px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#sign-inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#signup #sign-actions {
  margin: 10px 0 0 0;
}

#signup #register {		
  background-color: #d14545;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#signup #register:hover,
#signup #register:focus {		
  background-color: #e97171;
}	

#signup #register:active {		
  outline: none;	
}

#signup #register::-moz-focus-inner {
  border: none;
}

#signup label {
  float: right;
  line-height: 30px;
}

#signup label input {
  position: relative;
  top: 2px;
  right: 2px;
}

.profile-block{
display:inline-block;
  margin: 0 2em
}
.profile-img {
  display: block;
  height: 7em;
  margin-right: auto;
  margin-left: auto;
  border: .5em solid #f2f2f2;
  border-radius: 100%;
  box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
}

.profile-text {
  margin-top: -3.5em;
  padding: 5em 3.5em 2.5em 3.5em; 
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}

.profile-name{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title,.email-status,.HN-status,.token {
  color: #111;
}


.tags {
  zoom: 1;
}

.tags:before, .tags:after {
  content: '';
  display: table;
}

.tags:after {
  clear: both;
}

.tags ul{
    list-style: none;
}
    

.tags li {
  position: relative;
  float: left;
  margin: 0 0 8px 12px;
  list-style: none;
}

.tags li:active {
  margin-top: 1px;
  margin-bottom: 7px;
}

.tags li:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 10px;
  right: -2px;
  width: 5px;
  height: 6px;
  opacity: .95;
  background: #eb6b22;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 1px 0 #99400e;
  box-shadow: inset 1px 0 #99400e;
}

.tags a, .tags span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tags a {
  height: 26px;
  line-height: 23px;
  padding: 0 9px 0 8px;
  font-size: 12px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #fafafa;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dadada #d2d2d2 #c5c5c5;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
  padding: 0 7px 0 6px;
  max-width: 40px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tags span {
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 0;
  height: 24px;
  line-height: 21px;
  padding: 0 0 0 2px;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #eb6b22;
  border: 1px solid;
  border-color: #d15813 #c85412 #bf5011;
  border-radius: 0 2px 2px 0;
  opacity: .95;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: padding, max-width;
  -moz-transition-property: padding, max-width;
  -o-transition-property: padding, max-width;
  transition-property: padding, max-width;
}

.green li:after, li.green:after {
  background: #65bb34;
  -webkit-box-shadow: inset 1px 0 #3a6b1e;
  box-shadow: inset 1px 0 #3a6b1e;
}

.green span {
  background: #65bb34;
  border-color: #549b2b #4f9329 #4b8b27;
  background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}

.blue li:after {
  background: #56a3d5;
  -webkit-box-shadow: inset 1px 0 #276f9e;
  box-shadow: inset 1px 0 #276f9e;
}

.blue span {
  background: #56a3d5;
  border-color: #3591cd #318cc7 #2f86be;
  background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
  background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
}

.container-friends{
    margin: 50px auto;width: 700px;font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;color: #404040;background-color:grey;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 3.5em;
    padding: 3em 3.5em 6.5em;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://www.xara.com/img2/global/icon_add.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}



#systemMessageContainer {
  z-index:9999;
  position: absolute;
  top: -200px;
  display: block;
  opacity: 0;
  width: 100%;
  background-color: #237b7f;
  border-bottom: solid 2px #1d686b;
  animation: slideUp 0.7s;
  -moz-animation: slideUp 0.7s;
  /* Firefox */
  -webkit-animation: slideUp 0.7s;
  /* Safari and Chrome */
  -o-animation: slideUp 0.7s;
  /* Opera */
}
#systemMessageContainer #systemMessage {
  padding: 1.25em;
  color: #f8f8f8;
  font-family: "Gill Sans", Gill Sans, sans-serif;
  font-size: 1.2em;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#systemMessageContainer.warning {
  background-color: #ff9f1a;
  border-bottom: solid 2px #ff9500;
}

#systemMessageContainer.error {
  background-color: #e6002e;
  border-bottom: solid 2px #cc0029;
}

#systemMessageContainer.revealed {
  top: 0px;
  animation: slideDown 0.5s;
  -moz-animation: slideDown 0.5s;
  /* Firefox */
  -webkit-animation: slideDown 0.5s;
  /* Safari and Chrome */
  -o-animation: slideDown 0.5s;
  /* Opera */
}

@keyframes slideDown {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}
@-moz-keyframes slideDown {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}
@-webkit-keyframes slideDown {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}
@-o-keyframes slideDown {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}
@keyframes slideUp {
  from {
    top: 0px;
  }

  to {
    top: -200px;
  }
}
@-moz-keyframes slideUp {
  from {
    top: 0px;
  }

  to {
    top: -200px;
  }
}
@-webkit-keyframes slideUp {
  from {
    top: 0px;
  }

  to {
    top: -200px;
  }
}
@-o-keyframes slideUp {
  from {
    top: 0px;
  }

  to {
    top: -200px;
  }
}



.action {
  position: relative;
  overflow: hidden;  
  font-size: 11px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

.action > span {
   height: 32px;
   display: inline-block;
   vertical-align: middle;
   position: relative;
   border: 1px solid;
   border-radius: 4px;
   box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.19); 
   border-color: #0F80AE #0F80AE #11698D #0F80AE;
   background: linear-gradient(#169BD0, #0D7FAE);
 }
 .action:hover > span {
  border-color: #0F79A3 #0F79A3 #0F6383 #0F79A3;
  text-decoration: none;
  background: linear-gradient(#1DA5DB, #0F87BA);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.11);
	}
  .action:active > span {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    background: linear-gradient(#25A6DA, #209BCE);
  }
  
    .action b {
      padding: 0 12px;
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      color: #fff;
      line-height: 34px;
    }
		.action:active b { 
      color: #fff; 
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35); 
    }

.action .act-indicator  {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: -8px 0 0 -6px;
}

.act-indicator.i-M-loader { 
  width: 20px; 
  height: 20px; 
  margin: -12px 0 0 -10px; 
}

.action b { transition: opacity .2s ease-out; }

.act-success b { transition-delay: 2.2s; }

/* default state of icons */
.action .act-indicator { top: -100%; }

/* Move the spinner (slide in) and fade out the text */
.act-loading b { opacity: .12; }
.act-loading .act-indicator.i-M-loader {
  top: 50%;
  animation: loader .7s steps(8) infinite, slideInDown .4s both;
}

/* Move the feedback (success or error) */
.act-success .i-accept {
  top: 50%;
  animation: slideInDown .78s forwards, slideOutDown .4s 2s forwards;
}

/* Move the spinner  (slide out) */
.act-success .act-indicator.i-M-loader {
	top: -100%;
	animation: loader .7s steps(8) infinite, slideOutDown .45s .45s both;
}

/* Icons */
[class*=i-] {
  vertical-align: middle;
  background: url(/images/sprite.png) no-repeat left top;
  font: 0/0 a;
  color: transparent;
  width: 16px;
  height: 16px;
}

[class*=i-M] { display: inline-block;width: 20px; height: 20px; }

.i-M-loader {
  background: url(/images/sprite.png) no-repeat;
  animation: loader .7s steps(8) infinite;
  display: inline-block;
}
.i-accept { background-position: -77px -149px;display: inline-block; }

/* Keyframes declarations */
@keyframes slideInDown {
  0%   { top: -100%; }
  60%  { top: -50%; }
  80%  { top: 65%; }
  100% { top: 50%; }
} 

 @keyframes slideInUp {
  0%   { top: 250%; }
  60%  { top: 150%; }
  80%  { top: 35%; }
  100% { top: 50%; }
}

@keyframes slideOutDown {
  0%   { top: 50%; }
  100% { top: 150%; }
}

@keyframes slideOutUp {
  0%   { top: 50%; }
  100% { top: -150%; }
}

@keyframes loader { 
	from { background-position: 0px -408px; } 
  to { background-position: -192px -408px; }
}