<table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color:#ececec;" id="background-table">
    <tbody>
        <tr style="border-collapse:collapse;">
            <td bgcolor="#ececec" align="center" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;">
                <table width="640" cellspacing="0" cellpadding="0" border="0" style="margin-top:0;margin-bottom:0;margin-right:10px;margin-left:10px;" class="w640">
                    <tbody>
                        <tr style="border-collapse:collapse;">
                            <td width="640" height="20" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640"></td>
                        </tr>

                        <tr style="border-collapse:collapse;">
                            <td width="640" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640">
                                <table width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#d5e9e7" style="border-radius:6px 6px 0px 0px;-moz-border-radius:6px 6px 0px 0px;-webkit-border-radius:6px 6px 0px 0px;-webkit-font-smoothing:antialiased;background-color:#4b4044;color:#72a6a6;" class="w640" id="top-bar">
                                    <tbody>
                                        <tr style="border-collapse:collapse;">
                                            <td width="15" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w15"></td>
                                            <td width="350" valign="middle" align="left" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w325">
                                                <table width="350" cellspacing="0" cellpadding="0" border="0" class="w325">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="350" height="8" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w325"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="350" cellspacing="0" cellpadding="0" border="0" class="w325">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="350" height="8" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w325"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="255" valign="middle" align="right" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w255">
                                                <table width="255" cellspacing="0" cellpadding="0" border="0" class="w255">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="255" height="8" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w255"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                                <table width="255" cellspacing="0" cellpadding="0" border="0" class="w255">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="255" height="8" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w255"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w15"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr style="border-collapse:collapse;">
                            <td width="640" bgcolor="#d5e9e7" align="center" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640" id="header">

                                <table width="640" cellspacing="0" cellpadding="0" border="0" class="w640">
                                    <tbody>
                                        <tr style="border-collapse:collapse;">
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="580" height="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580"></td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse;">
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580">
                                                <div align="center" id="headline">
                                                    <p style="color:#72a6a6;font-family:HelveticaNeue, sans-serif;font-size:36px;text-align:center;margin-top:0px;margin-bottom:30px;">
                                                        <strong>Welcome to HN Buddies <!--<%= username %>--></strong>
                                                    </p>
                                                </div>
                                            </td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                        </tr>

                        <tr style="border-collapse:collapse;">
                            <td width="640" height="30" bgcolor="#ffffff" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640"></td>
                        </tr>
                        <tr style="border-collapse:collapse;" id="simple-content-row">
                            <td width="640" bgcolor="#ffffff" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640">
                                <table width="640" cellspacing="0" cellpadding="0" border="0" align="left" class="w640">
                                    <tbody>
                                        <tr style="border-collapse:collapse;">
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580">

                                                <table width="580" cellspacing="0" cellpadding="0" border="0" class="w580">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580">
                                                                <p align="left" style="font-size:18px;line-height:24px;color:#d9653b;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" class="article-title">Account Activation</p>
                                                                <div align="left" style="font-size:13px;line-height:18px;color:#444444;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" class="article-content">
                                                                    <p style="margin-bottom:15px;">
                                                                        Please click on the following link to activate your account</p>
                                                                    <p style="margin-bottom:15px;">
                                                                        <%= link %></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="580" height="10" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table width="580" cellspacing="0" cellpadding="0" border="0" class="w580">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580">
                                                                <p align="left" style="font-size:18px;line-height:24px;color:#d9653b;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" class="article-title">Connecting your HN account</p>
                                                                <div align="left" style="font-size:13px;line-height:18px;color:#444444;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" class="article-content">
                                                                    <p style="margin-bottom:15px;">
                                                                        To connect to your hacker news account :</p>
                                                                    <p style="margin-bottom:15px;">
                                                                        1) make <b><%= hnvar %></b> as your status in your hacker news account profile .</p>
                                                                    <p style="margin-bottom:15px;">
                                                                        2) Click activate on HN Buddies !</p>
                                                                    <p style="margin-bottom:15px;">
                                                                        Thats it !!</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="580" height="10" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table width="580" cellspacing="0" cellpadding="0" border="0" class="w580">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580">
                                                                <p align="left" style="font-size:18px;line-height:24px;color:#d9653b;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" class="article-title">HN buddies informs your buddies whenever you make a post on hacker news so that they can upvote for you and make you popular</p>
                                                                <div align="left" style="font-size:13px;line-height:18px;color:#444444;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" class="article-content">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr style="border-collapse:collapse;">
                                                            <td width="580" height="10" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-collapse:collapse;">
                            <td width="640" height="15" bgcolor="#ffffff" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640"></td>
                        </tr>

                        <tr style="border-collapse:collapse;">
                            <td width="640" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640">
                                <table width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#4b4c44" style="border-radius:0px 0px 6px 6px;-moz-border-radius:0px 0px 6px 6px;-webkit-border-radius:0px 0px 6px 6px;-webkit-font-smoothing:antialiased;background-color:#4b4c44;color:#72a6a6;" class="w640" id="footer">
                                    <tbody>
                                        <tr style="border-collapse:collapse;">
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="360" height="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580 h0"></td>
                                            <td width="60" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w0"></td>
                                            <td width="160" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w0"></td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse;">
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="360" valign="top" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580">
                                                <span class="hide">
                                                    <p align="left" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-size:12px;line-height:15px;color:#72a6a6;margin-top:0px;margin-bottom:15px;white-space:normal;" class="footer-content-left" id="permission-reminder"></p>
                                                </span>
                                            </td>
                                            <td width="60" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="hide w0"></td>
                                            <td width="160" valign="top" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="hide w0">
                                                <p align="right" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-size:11px;line-height:16px;margin-top:0px;margin-bottom:15px;color:#d5e9e7;white-space:normal;" class="footer-content-right" id="street-address"></p>
                                            </td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse;">
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                            <td width="360" height="15" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w580 h0"></td>
                                            <td width="60" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w0"></td>
                                            <td width="160" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w0"></td>
                                            <td width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-collapse:collapse;">
                            <td width="640" height="60" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" class="w640"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>